#footer {
  border-top: 2px solid #fff;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  color: #fff;
  background-image: url("../../images/body-bg.jpg");
}

.footer-title {
  font-size: 1.6rem;
  font-family: "Montserrat";
}

.footer-end {
  font-size: 1.2rem;
  font-family: "Montserrat";
}
