.search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 40vw;
  margin-top: 2rem;
}

@media (max-width: 1100px) {
  .search-bar-container {
    width: 50vw;
  }
}

@media (max-width: 650px) {
  .search-bar-container {
    width: 70vw;
  }
}

.search-input {
  color: #000;
  height: 2.6rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 100px;
  outline: none;
  background-color: #ebebeb;
  padding: 6px 2rem;
  width: 100%;
  box-shadow: 4px 4px 8px 4px rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.search-input:focus,
.search-input:hover {
  transform: translateY(-3px);
}

@media (max-width: 510px) {
  .search-input {
    height: 2.3rem;
    font-size: 1rem;
  }
}

.search-btn {
  background-color: transparent;
  border: none;
  margin-left: 0.5rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.search-icon {
  color: #000;
}
.search-icon:hover {
  transform: translateY(-2px);
  cursor: pointer;
}
